---
import '../styles/global.css'
import '../styles/form.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://joelmg.netlify.app/logo-jmg.webp" />
		<link rel="icon" href="https://joelmg.netlify.app/logo-jmg.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Registro de Usuario - CRUD</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
